
.cart-item .quantity-select{
    grid-column: span 2;

    width: 2rem;

    font-family: 'Main light', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);
}
