.navigation{
    background-color: #7d7d7d;
}

/*content*/
.products-section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;

    margin: 5rem 0;
    padding: 1rem 3rem;
}

.categories-toolbar{
    grid-column: span 3;
    margin-bottom: 1rem;

    height: auto;

    display: flex;
    flex-direction: column;
}

.category-link, .category-link:hover{
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    font-family: 'Main narrow', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.045rem;
    line-height: 1.6rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 3px solid rgba(0, 0, 0, 0.1);

    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.all-products, .all-products:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.products-container{
    grid-column: span 9;
}

.product{
    display: flex;
    flex-direction: column;
}

.detail-link, .detail-link:hover{
    text-decoration: none;
}


.image-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.image-caption{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.3);
}

.image-caption span{
    font-family: "Main light", sans-serif;
    font-size: 0.8rem;

    color: white;
}

.product-caption{
    display: flex;
    flex-direction: column;
}

.product-name{
    font-family: 'Main narrow', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    line-height: 2rem;

    color: rgba(0, 0, 0, 0.51);
}

.product-price{
    font-family: 'Main light', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;

    color: rgba(0, 0, 0, 0.51);
}

@media (max-width: 600px) {
    .products-section{
        display: flex;
        flex-direction: column;

        margin: 3rem 0;
        padding: 1rem;
    }
}
