
/*banner section*/
.banner{
    position: relative;

    height: 100vh;
    width: 100vw;
    max-width: 100%;

    overflow: hidden;
}

.images-container{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    overflow: hidden;
}

.slide ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
}

/*banner caption*/
.banner-caption{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    background-color: rgba(0, 0, 0, 0.30);
}

.taglines-container{
    position: relative;

    width: 70vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-tag{
    font-family: 'Bebas bold', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;

    z-index: 10;

    color: white;
}

.second-tag{
    font-family: 'Bebas book', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    color: white;
}

.decorative-text{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.decorative-text span{
    font-family: 'Bebas bold', sans-serif;
    font-size: 17rem;

    color: rgba(255, 255, 255, 0.07);
}

@media (max-width: 1100px) {
    .taglines-container{
        width: 100vw;
    }

    .main-tag{
        font-size: 4rem;
    }
    .second-tag{
        font-size: 2.5rem;
    }
    .decorative-text span{
        font-size: 14rem;
    }
}

@media (max-width: 770px) {
    .taglines-container{
        width: 100vw;
    }

    .main-tag{
        font-size: 3rem;
    }
    .second-tag{
        font-size: 2rem;
    }
    .decorative-text span{
        font-size: 10rem;
    }
}

@media (max-width: 500px) {
    .taglines-container{
        width: 100vw;
    }

    .main-tag{
        font-size: 2rem;
        text-align: center;
    }
    .second-tag{
        font-size: 1rem;
        text-align: center;
    }
    .decorative-text span{
        font-size: 7rem;
    }
}

/* general */

.categories, .products, .looks{
    display: flex;
    flex-direction: column;
}

.detail-link, .detail-link:hover{
    text-decoration: none;
}

.categories-container, .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-gap: 1rem;

    padding: 1rem 3rem;
}

.image-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.image-caption{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.3);
}

/* section header */
.section-header-container{
    padding: 3rem 0 1.5rem 0;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header{
    font-family: 'Bebas bold', sans-serif;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.045rem;

    color: rgba(0, 0, 0, 0.60);
}

.header-par{
    display: block;
    width: 40vw;

    font-family: 'Main light', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;

    color: rgba(0, 0, 0, 0.51);
}

/*categories*/

.category{
    position: relative;

    grid-column: span 3;
    display: flex;
    flex-direction: column;
}

.category .image-container{
    max-height: 400px;
}

.category-name{
    font-family: 'Main narrow', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.045rem;
    line-height: 3rem;

    color: rgba(0, 0, 0, 0.6);
}

.image-caption span{
    font-family: "Main light", sans-serif;
    font-size: 0.8rem;

    color: white;
}

/*products*/

.products{
    margin-bottom: 3rem;
}

.product{
    position: relative;

    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.loupe{
    height: 16px;
}

.product-caption{
    display: flex;
    flex-direction: column;
}

.product-name{
    font-family: 'Main narrow', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    line-height: 2rem;

    color: rgba(0, 0, 0, 0.51);
}

.product-price{
    font-family: 'Main light', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;

    color: rgba(0, 0, 0, 0.51);
}

.product-prev-price{
    text-decoration: line-through !important;
}

.catalog-btn-container{
    display: flex;
    justify-content: center;
}

.catalog-btn, .catalog-btn:hover{
    display: block;
    padding: 0.5rem 1rem;

    font-family: 'Main narrow', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.045rem;

    background-color: rgba(0, 0, 0, 0.31);
    color: white;
}

@media (max-width: 600px) {
    .categories-container, .products-container{
        padding: 1rem;
    }
}


