.chosen{
    background-color: rgba(31, 200, 138, 0.65) !important;
}

.size{
    margin-right: 0.5rem;
    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-radius: 3px;
    border: none;

    font-family: 'Main narrow', sans-serif;

    background-color: rgba(0, 0, 0, 0.11);
    color: rgba(0, 0, 0, 0.61);
}

#quantity-select{
    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;

    font-family: 'Main light', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}