<!DOCTYPE html>
{% load static %}


<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ seo.title }}</title>
    <meta name="description" content="{{ seo.description }}">
    <meta name="keywords" content="{{ seo.keywords }}">

    {{ seo.additional|safe }}

    {% block meta %}

    {% endblock %}

{#    <!-- Yandex.Metrika counter -->#}
{#    <script type="text/javascript" >#}
{#       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};#}
{#       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})#}
{#       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");#}
{##}
{#       ym(56194840, "init", {#}
{#            clickmap:true,#}
{#            trackLinks:true,#}
{#            accurateTrackBounce:true,#}
{#            webvisor:true#}
{#       });#}
{#    </script>#}
{#    <noscript><div><img src="https://mc.yandex.ru/watch/56194840" style="position:absolute; left:-9999px;" alt="" /></div></noscript>#}

    <!-- bootstrap 4 css -->
    <script src="{% static 'plugins/vue.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'plugins/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/toasrt.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">

    <style>
        {# h1 font #}
        @font-face {
            font-family: 'Bebas bold';
            src: url({% static 'fonts/BebasNeue Bold.otf' %});
        }
        {# h2 font #}
        @font-face {
            font-family: 'Bebas book';
            src: url({% static 'fonts/BebasNeue Book.otf' %});
        }
        {# main font #}
        @font-face {
            font-family: 'Main narrow';
            src: url({% static 'fonts/PTN77F_W.woff' %});
        }
        {# paragraph font #}
        @font-face {
            font-family: 'Main light';
            src: url({% static 'fonts/PTN57F_W.woff' %});
        }
    </style>

    <!-- base.css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block css %}


    {% endblock %}
</head>


<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center fixed-top py-0
                px-1 px-sm-2 px-md-5 z-depth-0"
    >
        <a href="{% url 'index' %}" class="navbar-brand d-flex w-50 mr-auto">
            {% if main.logo %}
                <img src="{{ main.logo.url }}" alt="Логотип сайта Momstyle shop" height="50">
            {% else %}
                Momstyle
            {% endif %}
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar-toggle-content"
                aria-controls="navbar-toggle-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 pb-2 pb-md-0" id="navbar-toggle-content">
            <ul class="navbar-nav w-100 justify-content-center">
                <li>
                    <a href="{% url 'index' %}" class="font-main-light text-white text-uppercase mx-2 font-size-s">Главная</a>
                </li>
                <li>
                    <a href="{% url 'product_list' %}" class="font-main-light text-white text-uppercase mx-2 font-size-s">Каталог</a>
                </li>
                <li>
                    <a href="{% url 'delivery' %}" class="font-main-light text-white text-uppercase mx-2 font-size-s">Доставка</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="font-main-light text-white text-uppercase mx-2 font-size-s nowrap">О нас</a>
                </li>
                <li>
                    <a href="{% url 'favorites:favorites' %}" class="font-main-light text-white text-uppercase mx-2 font-size-s">Избранное</a>
                </li>
            </ul>
            <ul class="nav navbar-nav w-100 ml-auto justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'cart:cart' %}" class="d-flex h-100">
                        <!-- cart icon -->
                        <i class="fas fa-shopping-cart text-white align-self-center"></i>
                        <span class="cart-items-number align-self-start d-flex justify-content-center
                                    align-items-center main-color-bg font-main-light font-size-s text-white ml-1"
                        >
                            {{ cart_items_number }}
                        </span>
                    </a>

                </li>
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="page-footer mt-5 mt-auto">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left px-1 px-sm-2 px-md-5 dark-bg2">

            <!-- Grid row -->
            <div class="row">

                <div class="col-12 d-flex justify-content-center py-3">
                    Icons
                </div>

                <!-- Grid column -->
                <div class="col-md-3 py-3 d-flex flex-column">
                    <span class="font-main-narrow font-size-m text-uppercase my-2">Контакты:</span>
                    <div class="font-main-light font-size-m"><i class="fas fa-mobile-alt mr-2"></i>{{ main.phone_number }}</div><!-- end phone line -->
                    <div class="font-main-light font-size-m"><i class="fas fa-envelope mr-2"></i>{{ main.email }}</div><!-- end phone line -->
                    {% for address in main.addresses %}
                        <div class="font-main-light font-size-m"><i class="fas fa-map-marker-alt mr-2"></i>{{ address }}</div><!-- end phone line -->
                    {% endfor %}

                    <div class="font-main-light font-size-m"><i class="fas fa-clock mr-2"></i>{{ main.working_hours }}</div><!-- end phone line -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 py-3 d-flex flex-column">
                    <span  class="font-main-narrow font-size-m text-uppercase my-2">Ссылки:</span>
                    <a href="{% url 'index' %}" class="font-main-light font-size-m">- Главная</a>
                    <a href="{% url 'product_list' %}" class="font-main-light font-size-m">- Каталог</a>
                    <a href="{% url 'delivery' %}" class="font-main-light font-size-m">- Доставка</a>
                    <a href="{% url 'about' %}" class="font-main-light font-size-m">- О нас</a>
                    <a href="{% url 'favorites:favorites' %}" class="font-main-light font-size-m">- Избранное</a>
                </div>

                <div class="col-md-3 py-3 d-flex flex-column">
                    <span class="font-main-narrow font-size-m text-uppercase my-2">Организация:</span>
                    <span class="font-main-light font-size-m">{{ main.organisation_line1 }}</span>
                    <span class="font-main-light font-size-m">{{ main.organisation_line2 }}</span>
                    <span class="font-main-light font-size-m">{{ main.organisation_line3 }}</span>
                    <span class="font-main-light font-size-m">{{ main.organisation_line4 }}</span>
                </div>

                <div class="col-md-3 py-3">
                    <div class="up rounded-circle">
                    <!-- up button -->
                        <i class="material-icons text-white">arrow_circle_up</i>
                    </div><!-- end up button -->
                </div>

            </div>
            <!-- Grid row -->
        </div>
        <div class="footer-copyright dark-bg text-center py-3">© <span class="current-year"></span> Copyright: ИП. Юшков</div>
    </footer>

    <div class="modal fade" id="buy-quick-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Форма заказа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    {% block quick_buy_form %}

                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" form="quick-buy-form"
                           class="btn bg-light color-grey60 hover-main-color z-depth-0 font-size-m font-main-narrow">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'plugins/jquery.js' %}"></script>
    <script src="{% static 'plugins/gsap/TweenMax.min.js' %}"></script>
    <script src="{% static 'plugins/gsap/plugins/ScrollToPlugin.min.js' %}"></script>
    <script src="{% static 'plugins/masked input/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'plugins/popper.min.js' %}"></script>
    <script src="{% static 'plugins/boostrap.min.js' %}"></script>
    <script src="{% static 'plugins/mdb.min.js' %}"></script>
    <script src="{% static 'plugins/axios.min.js' %}"></script>
    <script src="{% static 'plugins/toastr.min.js' %}"></script>

    <script src="{% static 'js/base.js' %}"></script>


    {% block script %}

    {% endblock %}

    {% block js %}

    {% endblock %}
</body>
</html>