{% extends 'base.html' %}
{% load static %}


{% block css %}
    <!-- cart.css -->
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">

{% endblock %}


{% block content %}

    <section class="pb-5">
        <div class="container-fluid px-5"  style="margin-top: 6rem">
            <div class="row">
                <div class="col-12 col-md-8 p-2">
                    <div class="card cart-items z-depth-0">
                        <div class="card-body">
                            <div>
                                <h1 class="secondary-font h1-responsive color-grey60">{{ seo.h1 }}</h1>
                            </div>
                            {% for item in cart.items %}
                                <div class="container-fluid light-bg my-1 p-2 cart-item"
                                        data-item-id="{{ item.product.id }}" data-item-size="{{ item.size }}"
                                >
                                    <div class="row">
                                        <!-- cart item instance -->
                                        <div class="col-6 col-sm-4">
                                            <a href="{% url 'product_detail' item.product.id %}"
                                               class="font-main-narrow font-size-m color-grey60 text-uppercase">
                                                {{ item.product.name }}
                                            </a>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-1">
                                            <span class="badge badge-pill badge-light z-depth-0 font-main-narrow font-size-s color-grey60">
                                                {{ item.size }}
                                            </span>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-2">
                                            <span class="font-main-narrow font-size-m color-grey60">{{ item.product.price }} руб.</span>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-1">
                                            <select onchange="changeItemQuantity({{ item.product_id }}, '{{ item.size }}', value)">
                                                {% for _ in '0123456789' %}
                                                    <option value="{{ forloop.counter }}" {% if item.quantity == forloop.counter %} selected{% endif %}>
                                                        {{ forloop.counter }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-2">
                                            <span class="font-main-narrow font-size-m color-grey60">
                                                <span class="subtotal">{{ item.total_price }}</span> руб.
                                            </span>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-2">
                                            <a onclick="deleteItem(event, {{ item.product.id }}, '{{ item.size }}')"
                                               class="font-main-light font-size-m text-uppercase color-grey60">
                                                удалить
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- end cart item instance -->
                            {% endfor %}


                            <div class="empty-cart {% if cart.items %}d-none{% endif %}">
                                <span>Корзина пуста...</span>
                                <a href="{% url 'product_list' %}">Перейти в каталог</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if cart.items %}
                    <div class="col-12 col-md-4 p-2">
                        <div class="card light-bg z-depth-0" id="overall-container">
                            <div class="card-body">
                                <span class="h2-responsive font-main-narrow color-grey60">Ваша корзина</span>

                                <hr/>
                                <div class="my-5 d-flex justify-content-between">
                                    <span class="font-main-narrow h4-responsive color-grey50">Общая стоимость</span>
                                    <span class="font-main-narrow color-grey50 h4-responsive">
                                        <span id="total-price">
                                            {{ cart.total_price }}
                                        </span> руб.
                                    </span>
                                </div>

                                <hr/>
                                <button onclick="$('#buy-quick-product').modal('toggle')"
                                    class="font-size-m font-main-narrow color-grey60 btn btn-light z-depth-0"
                                    >Купить в 1 клик</button>
                                <a class="btn btn-dark font-size-m font-main-narrow z-depth-0"
                                    href="{% url 'order:redirect' %}"
                                >
                                    Оформить заказ
                                </a>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}


{% block quick_buy_form %}
    <form  method="post" id="quick-buy-form">
        {% csrf_token %}
        {{ quick_buy_form.as_p }}
    </form>
{% endblock %}


{% block script %}
    <!-- cart.js -->
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}