{% extends 'checkout_base.html' %}
{% load static %}


{% block checkout_content %}
    <div>
        <div class=""><span>Имя:</span> <span>{{ order.first_name }}</span></div>
        <div class=""><span>Фамилия:</span> <span>{{ order.second_name }}</span></div>
        <div class=""><span>Номер телефона:</span> <span>{{ order.phone_number }}</span></div>
        <div class=""><span>Электронная почта:</span> <span>{{ order.email }}</span></div>
        <div class=""><span>Способ доставки:</span> <span>{{ delivery_method.name }}</span></div>
        <div class=""><span>Способ оплаты:</span> <span>{{ payment_method.name }}</span></div>
        <div class="">
            <span>Адрес:</span>
            <span>{{ order.index }} {{ order.city }}, {{ order.street }}, {{ order.building_number }} {% if order.apartment %}кв. {{ order.apartment }}{% endif %}</span>
        </div>

    </div>
    <form method="post" id="checkout-form">
        {% csrf_token %}

        <div class="form-group">
            <label class="font-size-l font-main-light">{{ form.comment.label }}</label>
            {{ form.comment }}
            <small class="text-danger">{{ form.comment.errors }}</small>
        </div>

        <small class="text-danger">{{ form.non_field_errors }}</small>
        <div class="form-group checkbox-container">
            <label class="font-size-l font-main-light">{{ form.connect_by_phone.label }}</label>
            {{ form.connect_by_phone }}
            <small class="text-danger">{{ form.connect_by_phone.errors }}</small>
        </div>
        <div class="form-group checkbox-container">
            <label class="font-size-l font-main-light">{{ form.connect_by_whatsapp.label }}</label>
            {{ form.connect_by_whatsapp }}
            <small class="text-danger">{{ form.connect_by_whatsapp.errors }}</small>
        </div>
        <div class="form-group checkbox-container">
            <label class="font-size-l font-main-light">{{ form.no_connect.label }}</label>
            {{ form.no_connect }}
            <small class="text-danger">{{ form.no_connect.errors }}</small>
        </div>

    </form>
{% endblock %}

{% block next_button %}
    {% if order.payment_method == 1 %}
        <input type="submit" value="К оплате" form="checkout-form">
    {% else %}
        <button>Оформить</button>
    {% endif %}
{% endblock %}


{% block js %}
    <script>
        darkenNavbar();
        setCurrentTab(4);
    </script>
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}