{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/checkout_base.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid px-5" style="margin-top: 6rem">
        <div>Оформление заказа</div>
        <div class="container-fluid p-0 m-0">
            <div class="col-12">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-3 p-0 pr-1">
                            <a class="d-flex tab rounded text-uppercase light-bg m-0 px-2 py-3 z-depth-0 w-100 h-100
                                   font-main-narrow font-size-s color-grey50 color-hover-grey60 pointer
                                    text-decoration-none"
                                 id="tab-1" href="{% url 'order:personal_info' %}"
                                >
                                <i class="fas fa-user mr-2"></i>Контактная информация
                            </a>
                        </div>
                        <div class="col-3 p-0 pr-1">
                            <a class="d-flex tab rounded text-uppercase light-bg m-0 px-2 py-3 z-depth-0 w-100 h-100
                                   font-main-narrow font-size-s color-grey50 color-hover-grey60 pointer
                                    text-decoration-none"
                                 id="tab-2" href="{% url 'order:delivery' %}"
                            >
                                <i class="fas fa-truck mr-2"></i>
                                Доставка
                            </a>
                        </div>
                        <div class="col-3 p-0 pr-1">
                            <a class="d-flex tab rounded text-uppercase light-bg m-0 px-2 py-3 z-depth-0 w-100 h-100
                                   font-main-narrow font-size-s color-grey50 color-hover-grey60 pointer
                                    text-decoration-none"
                                 id="tab-3" href="{% url 'order:payment' %}"
                            >
                                <i class="fas fa-credit-card mr-2"></i>
                                Оплата
                            </a>
                        </div>
                        <div class="col-3 p-0 pr-1">
                            <a class="d-flex tab rounded text-uppercase light-bg m-0 px-2 py-3 z-depth-0 w-100 h-100
                                   font-main-narrow font-size-s color-grey50 color-hover-grey60 pointer
                                    text-decoration-none" href="{% url 'order:checkout' %}"
                                 id="tab-4"
                            >
                                <i class="fas fa-money-check mr-2"></i>
                                Подтверждение
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 my-5">
                <div class="row">
                    <div class="col-8">
                        {% block checkout_content %}

                        {% endblock %}
                    </div>
                    <div class="col-4">
                        <div class="card z-depth-0 light-bg">
                            <div class="py-3">Итого</div>
                            <div class="py-3">16000руб</div>
                            <hr/>
                            {% block next_button %}
                                <button>Далее</button>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="{% static 'js/checkout_base.js' %}"></script>
{% endblock %}

