{% extends 'checkout_base.html' %}
{% load static %}


{% block checkout_content %}
    <form method="post" id="payment-form">
        {% csrf_token %}
        <small class="text-danger">{{ form.non_field_errors }}</small>
        {% for field in form %}
            <div class="form-group">
                <label class="font-size-l font-main-light">{{ field.label }}</label>
                {{ field }}
                <small v-if="!isValid" class="text-danger">{{ field.errors }}</small>
            </div>
        {% endfor %}
    </form>
{% endblock %}


{% block next_button %}

    <input type="submit" form="payment-form" class="btn btn-dark z-depth-0 font-main-narrow font-size-m" value="Далее">
{% endblock %}


{% block js %}
    <script>
        darkenNavbar();
        setCurrentTab(3);
    </script>
{% endblock %}