{% extends 'checkout_base.html' %}
{% load static %}


{% block checkout_content %}
    <div>
        <div class="">
            <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Имя:</span>
            <span class="font-size-m font-main-narrow color-grey50 text-uppercase">{{ order.first_name }}</span>
        </div>
        <div class="">
            <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Фамилия:</span>
            <span class="font-size-m font-main-narrow color-grey50 text-uppercase">{{ order.second_name }}</span>
        </div>
        <div class="">
            <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Номер телефона:</span>
            <span class="font-size-m font-main-narrow color-grey50 text-uppercase">{{ order.phone_number }}</span>
        </div>
        <div class="">
            <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Электронная почта:</span>
            <span class="font-size-m font-main-narrow color-grey50 text-uppercase">{{ order.email }}</span>
        </div>
        <div class="">
            <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Способ доставки:</span>
            <span class="font-size-m font-main-narrow color-grey50 text-uppercase">{{ delivery_method.name }}</span>
        </div>
        <div class="">
            <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Способ оплаты:</span>
            <span class="font-size-m font-main-narrow color-grey50 text-uppercase">{{ payment_method.name }}</span>
        </div>
        <div class="">
            <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Адрес:</span>
            <span class="font-size-m font-main-narrow color-grey50 text-uppercase">{{ order.index }} {{ order.city }}, {{ order.street }}, {{ order.building_number }} {% if order.apartment %}кв. {{ order.apartment }}{% endif %}</span>
        </div>
    </div>

    <span class="font-main-light font-size-m color-grey50 d-flex my-4 text-uppercase">
        Проверьте, пожалуйста, введенные данные. Если все верно, выберите способ подтверждения.
    </span>
    <form method="post" id="checkout-form">
        {% csrf_token %}

        <small class="text-danger">{{ form.non_field_errors }}</small>
        <div class="form-group checkbox-container">
            {{ form.connect_by_phone }}
            <label class="font-size-l font-main-light ml-2">«Я хочу, чтобы менеджер связался со мной по телефону для подтверждения заказа»</label>

            <small class="text-danger">{{ form.connect_by_phone.errors }}</small>
        </div>
        <div class="form-group checkbox-container">
            {{ form.connect_by_whatsapp }}
            <label class="font-size-l font-main-light ml-2">«Я хочу, чтобы менеджер связался со мной через WhatsApp для подтверждения заказа»</label>
            <small class="text-danger">{{ form.connect_by_whatsapp.errors }}</small>
        </div>
        <div class="form-group checkbox-container">
            {{ form.no_connect }}
            <label class="font-size-l font-main-light ml-2">«Я уверен(а) в своем заказе, подтверждать не нужно»</label>
            <small class="text-danger">{{ form.no_connect.errors }}</small>
        </div>

    </form>
{% endblock %}

{% block next_button %}
    {% if order.payment_method == 1 %}
        <input type="submit" form="checkout-form" class="btn btn-dark z-depth-0 font-main-narrow font-size-m" value="Далее">
    {% else %}
        <input type="submit" form="checkout-form" class="btn btn-dark z-depth-0 font-main-narrow font-size-m" value="Оформить">
    {% endif %}
{% endblock %}


{% block js %}
    <script>
        darkenNavbar();
        setCurrentTab(4);
    </script>
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}