{% extends 'checkout_base.html' %}
{% load static %}

{% block checkout_content %}
    <form method="post" id="personal-info-form">
        {% csrf_token %}
        <small class="text-danger">{{ form.non_field_errors }}</small>
        {% for field in form %}
            <div class="form-group">
                <label class="font-size-l font-main-light">{{ field.label }}</label>
                {{ field }}
                <small v-if="!isValid" class="text-danger">{{ field.errors }}</small>
            </div>
        {% endfor %}
    </form>

{% endblock %}

{% block next_button %}
    <input type="submit" form="personal-info-form">
{% endblock %}

{% block js %}

    <script>
        darkenNavbar();
        setCurrentTab(1);
        $("#id_phone_number").mask("+7 (999) 99 9999");
    </script>
{% endblock %}

