{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slide/jquery.slide.css' %}">
{% endblock %}


{% block content %}

    <section class="banner">
        <!-- banner section -->
        <div class="images-container slide">
            <!-- banner images container -->
            <ul>
                {% for banner in banners %}
                    <li data-bg="{{ banner.image.url }}"></li>
                {% endfor %}
            </ul>
        </div><!-- end banner images container -->

        <div class="banner-caption">
            <!-- banner caption container -->
            <div class="taglines-container">
                <!-- container for banner taglines -->
                <h1 class="main-tag text-center secondary-font text-white font-size-xxl">
                    {{ seo.h1 }}
                </h1>
                <h2 class="second-tag secondary-font-light text-white" style="font-size: 3rem">
                    Будь красива в любом положении
                </h2>
                <div class="decorative-text">
                    <!-- decorative text container -->
                    <span class="secondary-font">MOMSTYLE</span>
                </div><!-- end decorative text container -->
            </div><!-- end container for banner taglines -->
        </div><!-- end banner caption container -->
    </section><!-- end banner section -->


    <!-- PRODUCTS SECTION -->
    <section class="container-fluid">
        <div class="row">
            <!-- SECTION HEADER -->
            <div class="col-12 d-flex flex-column justify-content-center align-items-center py-5">
                <h2 class="secondary-font font-size-xl color-grey60 text-center">{{ main.product_h2 }}</h2>
                <p class="font-main-light font-size-l color-grey50 w-75 text-center text-uppercase">
                    {{ main.product_par }}
                </p>
            </div><!-- /SECTION HEADER -->

            <!-- PRODUCTS LIST -->
            <div class="col-12 px-2 px-sm-3 px-md-5">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        {% for product in products %}
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                                {% with product=product %}
                                    {% include "product_card.html" %}
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div><!-- /PRODUCTS LIST -->

            <div class="col-12 d-flex justify-content-center my-4">
                <a href="{% url 'product_list' %}" class="btn btn-hover-dark btn-light font-main-narrow color-grey50 z-depth-0">
                    Все товары >>
                </a>
            </div>
        </div>
    </section><!-- /PRODUCTS SECTION -->


    <!-- CATEGORIES SECTION -->
    <section class="container-fluid light-bg">

        <!-- SECTION HEADER -->
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center py-5">
                <h2 class="secondary-font font-size-xl color-grey60 text-center">{{ main.category_h2 }}</h2>
                <p class="font-main-light font-size-l color-grey50 w-50 text-center text-uppercase">{{ main.category_par }}</p>
            </div><!-- /SECTION HEADER -->

            <!-- CATEGORIES LIST -->
            <div class="col-12 px-5">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        {% for category in categories %}
                            <div class="col-12 col-sm-6 col-md-3 p-2">
                               <div class="card border-0 z-depth-0 product-card">
                                   <a href="{% url 'product_list' %}?category={{ category.id }}">
                                       <div class="image-container">
                                            <!-- image container -->
                                           <img class="img-fluid main-img" src="{{ category.image.url }}" alt="">
                                           <div class="image-caption">
                                               <!-- image caption container -->
                                               <span class="text-white font-main-light font-size-m">Перейти >></span>
                                           </div><!-- end image caption container -->
                                       </div><!-- end image container -->
                                       <div class="card-body py-3 d-flex flex-column justify-content-center">
                                           <span class="color-grey60 font-main-narrow text-uppercase text-center">{{ category.name }}</span>
                                       </div>
                                   </a>
                               </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- /CATEGORIES LIST -->
            <div class="col-12 d-flex justify-content-center my-5">
                <a href="{% url 'product_list' %}" class="btn btn-hover-dark btn-light font-main-narrow color-grey50 z-depth-0">
                    Все категории >>
                </a>
            </div>
        </div>
    </section><!-- /CATEGORIES SECTION -->

{% endblock %}


{% block script %}
    <script src="{% static 'plugins/slide/jquery.slide.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
