{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>{{ target.name }} - {{ page_seo.title }}</title>
    <meta name="description" content="{{ target.name }} - {{ page_seo.description }}">
    <meta name="keywords" content="{{ page_seo.keywords }}">

    {{ page_seo.additional|safe }}

{% endblock %}


{% block css %}
    <!-- product_detail.css -->
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <!-- image handling plugin css -->
    <link rel="stylesheet" href="{% static 'plugins/Smoothproducts-master/css/smoothproducts.css' %}">

{% endblock %}


{% block content %}
    <div class="container-fluid px-1 px-sm-2 px-md-5 " style="margin-top: 6rem">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="sp-wrap">
                    <!-- smooth product plugin wrapper -->

                    {% for object in target.images.all %}
                        <a href="{{ object.file.url }}">
                            <img src="{{ object.file.url }}" alt="">
                        </a>
                    {% endfor %}
                </div><!-- end smooth product plugin wrapper -->
            </div>

            <div class="col-12 col-md-8">
                <div>
                    {% for category in target.category.all %}
                        <a class="category" href="{% url 'product_list' %}?category={{ category.id }}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
                <div>
                    <h1 class="name">{{ target.name }}</h1>
                </div>
                <div>
                    <span class="help-text">Состав: <span class="material">{{ target.material }}</span></span>
                </div>
                <div>
                    <span class="help-text">
                        Рост модели: <span class="model-height">{{ target.models_height }} см</span>
                    </span>
                </div>
                <div>
                    {% if target.available %}
                        <div class="size-buttons">
                            {% for size in target.sizes.all %}
                                <button class="size{% if forloop.counter == 1 %} chosen{% endif %}">{{ size.name }}</button>
                            {% endfor %}

                            <select name="quantity" id="quantity-select">
                                <option value="1" class="quantity-option">1</option>
                                <option value="2" class="quantity-option">2</option>
                                <option value="3" class="quantity-option">3</option>
                                <option value="4" class="quantity-option">4</option>
                                <option value="5" class="quantity-option">5</option>
                                <option value="6" class="quantity-option">6</option>
                                <option value="7" class="quantity-option">7</option>
                                <option value="8" class="quantity-option">8</option>
                                <option value="9" class="quantity-option">9</option>
                                <option value="10" class="quantity-option">10</option>
                            </select>
                        </div><!-- end size buttons container -->
                        {% if main.sizes_table %}
                            <a class="sizes-table-link" href="#">Таблица Размеров</a>
                        {% endif %}
                    {% else %}
                        Данного товара нет.
                    {% endif %}
                </div>

                <div class="">
                    {% if target.available %}
                        <button onclick="addItemToCart(event, {{ target.id }});
                                {#ym(56194840, 'reachGoal', 'add_basket'); return true; #}
                                ">
                            В корзину
                        </button>
                        <button onclick="$('#buy-quick-product').modal('toggle')">Купить в 1 клик</button>
                    {% else %}
                        <a href="">Заказать пошив</a>
                    {% endif %}

                </div>
                <div>
                    <p class="description">{{ target.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-1 px-sm-2 px-md-5">
        <div class="d-flex">
            <h2>Вам также может понравится</h2>
        </div>
        <div class="row d-flex justify-content-center">
            {% for product in suggestions %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                    {% with product=product %}
                        {% include "product_card.html" %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>

    <section class="sizes-table-layout">
        <!-- sizes table layout -->

        <div class="sizes-content-container">
            <!-- sizes content container -->

            <span class="close">x</span>

            <div class="table-image">
                <!--  -->

                {% if main.sizes_table %}
                    <img class="img-fluid" src="{{ main.sizes_table.url }}" alt="">
                {% endif %}

            </div><!-- end  -->
        </div><!-- end sizes content container -->

    </section><!-- end sizes table layout -->



    {% block quick_buy_form %}
        <form action="{% url 'product_quick_buy' target.id %}" method="post" id="quick-buy-form">
            {% csrf_token %}
            {{ quick_buy_form.as_p }}
        </form>
    {% endblock %}


{% endblock %}


{% block script %}
    <!-- product_detail.css -->
    <script src="{% static 'js/product_detail.js' %}"></script>
    <!-- product image handling plugin -->
    <script src="{% static 'plugins/Smoothproducts-master/js/smoothproducts.js' %}"></script>


{% endblock %}