{% extends 'base.html' %}
{% load static %}


{% block css %}

    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% endblock %}


{% block content %}

    <div class="container-fluid px-1 px-sm-2 px-md-5 mb-5" style="margin-top: 6rem;" id="product-list">
        <div class="row">
            <div class="col-12 col-lg-3">
                <form method="get">
                    <div class="container-fluid light-bg">
                        <div class="row">
                            <div class="col-12 font-main-narrow font-size-l color-grey60 text-uppercase my-3">
                                Фильтры
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 col-lg-12">
                                <span class="d-flex font-size-m font-main-narrow color-grey60 text-uppercase my-2">Доступность</span>
                                {{ filter.form.available }}
                            </div>
                             <div class="col-12 col-sm-6 col-md-3 col-lg-12 my-3">
                                 <span class="d-flex font-size-m font-main-narrow color-grey60 text-uppercase my-2">Цена</span>
                                 <div class="d-flex mb-3">
                                     <div class="d-flex mb-3">
                                         <input type="text" name="price_min" id="id_price_0" class="form-control" value="{{ filter.form.data.price_min }}">
                                         <input type="text" name="price_max" id="id_price_1" class="form-control" value="{{ filter.form.data.price_max }}">
                                    </div>
                                 </div>
                                 <div class="middle w-100">
                                    <div class="multi-range-slider">
                                        <div>
                                            <input type="range" id="left_price" min="{{ min_price }}" max="{{ max_price }}" value="{{ min_price }}">
                                            <input type="range" id="right_price" min="{{ min_price }}" max="{{ max_price }}" value="{{ max_price }}">

                                            <div class="slider">
                                                <div class="track"></div>
                                                <div class="range"></div>
                                                <div class="thumb left"></div>
                                                <div class="thumb right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 col-lg-12 my-3">
                                <span class="d-flex font-size-m font-main-narrow color-grey60 text-uppercase my-2">Категория</span>
                                {{ filter.form.category }}
                            </div>
                            <div class="col-12 col-sm-6 col-md-3 col-lg-12 my-3">
                                <span class="d-flex font-size-m font-main-narrow color-grey60 text-uppercase my-2">Размер</span>
                                {{ filter.form.sizes }}
                            </div>
                            <div class="col-12 d-flex justify-content-center my-3">
                                <a href="{% url 'product_list' %}" class="btn btn-light z-depth-0 font-size-m font-main-narrow color-grey60 py-3 px-4">Очистить</a>
                                <input type="submit" value="Применить" class="btn bg-dark z-depth-0 font-main-narrow font-size-m text-uppercase text-white py-3 px-4" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-12 col-lg-9">
                <div class="container-fluid">
                    <div class="row">
                        {% for product in filter.qs %}
                            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 px-2 pb-3">
                                {% with product=product %}
                                    {% include "product_card.html" %}
                                {% endwith %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'plugins/dist/main.js' %}"></script>
    <script src="{% static 'js/catalog.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>

{% endblock %}