{% extends 'base.html' %}
{% load static %}


{% block css %}
    <!-- product_detail.css -->
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <!-- image handling plugin css -->
    <link rel="stylesheet" href="{% static 'plugins/Smoothproducts-master/css/smoothproducts.css' %}">

{% endblock %}


{% block content %}
    <div class="container-fluid px-5 " style="margin-top: 6rem">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="sp-wrap">
                    <!-- smooth product plugin wrapper -->

                    {% for object in target.images.all %}
                        <a href="{{ object.file.url }}">
                            <img src="{{ object.file.url }}" alt="">
                        </a>
                    {% endfor %}
                </div><!-- end smooth product plugin wrapper -->
            </div>

            <div class="col-12 col-md-8">
                <div>
                    {% for category in target.category.all %}
                        <a class="font-main-light font-size-s color-grey50" href="{% url 'product_list' %}?category={{ category.id }}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
                <div>
                    <h1 class="secondary-font display-4 color-grey60">{{ target.name }}</h1>
                </div>
                <div>
                    <span class="font-main-narrow color-grey60 h2-responsive {% if target.prev_price %}main-color{% endif %}">
                        {{ target.price }} руб
                    </span>
                    {% if target.prev_price %}
                        <span class="color-grey50 font-main-light h5-responsive">{{ target.prev_price }} руб.</span>
                    {% endif %}

                </div>
                <div>
                    <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Состав:</span>
                    <span class="font-size-m font-main-light color-grey60 text-uppercase">{{ target.material }}</span>
                </div>
                <div class="mb-2">
                    <span class="font-size-m font-main-narrow color-grey60 text-uppercase">Рост модели:</span>
                    <span class="font-size-m font-main-light color-grey60 text-uppercase">{{ target.models_height }} см</span>
                </div>
                <div>
                    {% if target.available %}
                        <div class="d-flex my-3">
                            {% for size in target.sizes.all %}
                                <button class="size{% if forloop.counter == 1 %} chosen{% endif %} mr-1">{{ size.name }}</button>
                            {% endfor %}

                            <select name="quantity" id="quantity-select" class="ml-2">
                                <option value="1" class="quantity-option">1</option>
                                <option value="2" class="quantity-option">2</option>
                                <option value="3" class="quantity-option">3</option>
                                <option value="4" class="quantity-option">4</option>
                                <option value="5" class="quantity-option">5</option>
                                <option value="6" class="quantity-option">6</option>
                                <option value="7" class="quantity-option">7</option>
                                <option value="8" class="quantity-option">8</option>
                                <option value="9" class="quantity-option">9</option>
                                <option value="10" class="quantity-option">10</option>
                            </select>
                        </div><!-- end size buttons container -->
                    {% else %}
                        Данного товара нет в наличии.
                    {% endif %}
                </div>

                <div class="mx-0 mt-3">
                    {% if target.available %}
                        <button onclick="$('#buy-quick-product').modal('toggle')"
                            class="btn btn-light font-main-narrow z-depth-0 color-grey50 font-size-m text-uppercase color-hover-grey60 ml-0"
                            >Купить в 1 клик
                        </button>

                        <button id="add-to-cart" onclick="addItemToCart(event, {{ target.id }});"
                                {#ym(56194840, 'reachGoal', 'add_basket'); return true; #}
                                class="btn btn-dark font-main-narrow z-depth-0 ml-0">
                            В корзину
                        </button>
                        <a href="{% url 'cart:cart' %}"
                           class="d-none btn btn-light font-main-narrow z-depth-0 color-grey50 font-size-m text-uppercase color-hover-grey60"
                           id="go-to-cart"
                        >
                            <span class="color-grey50 font-main-light font-size-m">Перейти в корзину</span>
                        </a>

                    {% else %}
                        <button class="ml-0 btn btn-dark font-main-narrow z-depth-0 ml-0"
                            onclick="$('#buy-quick-product').modal('toggle')"
                        >Заказать пошив</button>
                    {% endif %}

                </div>
                <div class="my-3">
                    <p class="font-main-light font-size-l color-grey60">{{ target.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-1 px-sm-2 px-md-5 py-3">
        <div class="d-flex">
            <h2 class="secondary-font h2 color-grey60">Вам также может понравится</h2>
        </div>
        <div class="row d-flex justify-content-center">
            {% for product in suggestions %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                    {% with product=product %}
                        {% include "product_card.html" %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>

    <section class="sizes-table-layout">
        <!-- sizes table layout -->

        <div class="sizes-content-container">
            <!-- sizes content container -->

            <span class="close">x</span>

            <div class="table-image">
                <!--  -->

                {% if main.sizes_table %}
                    <img class="img-fluid" src="{{ main.sizes_table.url }}" alt="">
                {% endif %}

            </div><!-- end  -->
        </div><!-- end sizes content container -->

    </section><!-- end sizes table layout -->

{% endblock %}

{% block quick_buy_form %}
        <form action="{% url 'product_quick_buy' target.id %}" method="post" id="quick-buy-form">
            {% csrf_token %}
            {{ quick_buy_form.as_p }}
        </form>
    {% endblock %}


{% block script %}
    <!-- product_detail.css -->
    <script src="{% static 'js/product_detail.js' %}"></script>
    <!-- product image handling plugin -->
    <script src="{% static 'plugins/Smoothproducts-master/js/smoothproducts.js' %}"></script>

{% endblock %}