<!-- product instance -->
<div class="card border-0 z-depth-0 product-card mb-3">
    <a href="{{ product.get_absolute_url }}" class="text-decoration-none">
        <div class="image-container">
            <img class="img-fluid main-img" src="{{ product.images.first.file.url }}" alt="">
            <div class="image-caption">
                <!-- image caption container -->
                <span class="font-main-light font-size-m text-white">Смотреть >></span>
            </div><!-- end image caption container -->
        </div><!-- end product-image-container -->
        <div class="card-body py-2 d-flex flex-column justify-content-center light-bg">
            <span class="color-grey50 font-main-light font-size-s text-center">
                {% if product.available %}
                    в наличии
                {% else %}
                    под заказ
                {% endif %}
            </span>
            <span class="font-main-narrow font-size-m color-grey60 text-center text-uppercase">
                {{ product.name }}
            </span>
            <div class="d-flex justify-content-center pt-1">
                <span class="font-main-narrow font-size-m color-grey60{% if product.prev_price %} main-color{% endif %}">
                    {{ product.price }} руб.
                </span>
                {% if product.prev_price %}
                    <span class="font-main-light font-size-s color-grey50" style="text-decoration: line-through;">
                        {{ product.prev_price }} руб.
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center border-0 light-bg p-0">
            <a href="{{ product.get_absolute_url }}" class="btn btn-light px-3 py-2 z-depth-0 font-main-narrow color-grey50 color-hover-grey60">
                {% if product.available %}
                    В корзину
                {% else %}
                    Заказать
                {% endif %}
            </a>

            {% if is_favorites %}
                <button class="remove_favorite btn btn-light px-2 py-2 z-depth-0 color-grey50 color-hover-dark"
                    data-product-id="{{ product.id }}"
                >
                    <i class="fas fa-trash"></i>
                </button>
            {% else %}
                 <button class="favorite_btn btn btn-light px-3 py-2 z-depth-0 {% if product.id in favorites %} main-color {% else %} color-grey50 hover-main-color{% endif %}"
                    data-product-id="{{ product.id }}"
                >
                    <i class="fas fa-heart"></i>
                </button>
            {% endif %}

        </div>
    </a>
</div>
